{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for user in users %}
        <div>
            {{ user.email }}
            {{ user.password }}
        </div>
    {% endfor %}
{% endblock %}
